
.z{
    z-index: 1;
}

.scale{
    scale: 1.95;
}

.input{
    position: relative;
    left: 400px;
}

.button{
    z-index: 1;
    border: #767373 2px solid;
    border-radius: 10%;
    position: relative;
    color:beige;
    height: 50px;
    width: 70px;
    top: 100px;
    right: 80px;
    font-size: medium;
    transition: 100ms ease;
}


.button:hover{
    transform: translateY(-3px);
}